.movies-list{
  column-count: 4;
  column-gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.movies-list > *{
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
